## Run in debug mode?
# debug = False
#
## Run quiet
# quiet = False
#
## Enable profiling
# profile = False
#
# repo_logfile = None
# save_logfile = None
# no_parse = False
#
# Writable path for CVSAnaly (used for caching, maybe config, etc.)
# writable_path = None
#
## Database parameters
# db_driver = 'mysql'
# db_user = 'operator'
# db_password = None
# db_database = 'cvsanaly'
# db_hostname = 'localhost'
#
## Extensions
## No extensions enable by default
# extensions = ['Metrics', 'CommitsLOC']
#
## Metrics extension options
# metrics_all = False
# metrics_noerr = False
