Source: cvsanaly
Section: python
Priority: optional
Maintainer: Alvaro Navarro <anavarro@signal11.org>
Build-Depends: python2.4
Standards-Version: 3.6.1.1

Package: cvsanaly
Architecture: all
Depends: python (>= 2.3), python (<< 2.5)
Suggests: mysql-server, python2.4-mysqldb, gnuplot
Description: An analysis tool for your CVS and Subversion repository
